.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    display: flex;
    flex-direction: row;
    background: #4f005f;
    align-items: center;
    justify-content: space-between;
}

.header h1{
    margin-left: 50px;
}